#root {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  font-size: 18px;
  font-weight: bold;
  padding: 18px 20px;
  border-bottom: 1px solid #E0E0E0;
}

header .title {
  line-height: 28px;
}

#content {
  margin: 24px;
  display: flex;
  gap: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

